USE [master]
GO
/****** Object:  Database [Bawling_clubdb]    Script Date: 17.04.2026 11:18:50 ******/
CREATE DATABASE [Bawling_clubdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bawling_clubdb', FILENAME = N'C:\Users\10230937\Bawling_clubdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bawling_clubdb_log', FILENAME = N'C:\Users\10230937\Bawling_clubdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bawling_clubdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bawling_clubdb]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 17.04.2026 11:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LaneId] [int] NOT NULL,
	[ClientId] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[PlayersCount] [int] NOT NULL,
	[Comment] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 17.04.2026 11:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[MiddleName] [nvarchar](100) NULL,
	[PositionId] [int] NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Login] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[RoleId] [int] NOT NULL,
	[HireDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lanes]    Script Date: 17.04.2026 11:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lanes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LaneNumber] [nvarchar](20) NOT NULL,
	[Status] [int] NOT NULL,
	[Capacity] [int] NOT NULL,
	[HourlyRate] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturers]    Script Date: 17.04.2026 11:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Country] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 17.04.2026 11:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 17.04.2026 11:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [nvarchar](50) NOT NULL,
	[Status] [int] NOT NULL,
	[ClientId] [int] NOT NULL,
	[DeliveryMethod] [int] NOT NULL,
	[PaymentMethod] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CompletedAt] [datetime] NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Positions]    Script Date: 17.04.2026 11:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Positions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[BaseSalary] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductComments]    Script Date: 17.04.2026 11:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductComments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[CommentText] [nvarchar](1000) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 17.04.2026 11:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Article] [nvarchar](50) NOT NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[UnitOfMeasure] [nvarchar](20) NOT NULL,
	[OldPrice] [decimal](10, 2) NULL,
	[DiscountPercent] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[StockQuantity] [int] NOT NULL,
	[AvailabilityStatus] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsVisible] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[SupplierId] [int] NULL,
	[ManufacturerId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductTagMapping]    Script Date: 17.04.2026 11:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTagMapping](
	[ProductId] [int] NOT NULL,
	[TagId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC,
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductTags]    Script Date: 17.04.2026 11:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 17.04.2026 11:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 17.04.2026 11:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[ContactInfo] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 17.04.2026 11:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[PaymentMethod] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 17.04.2026 11:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[MiddleName] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[RoleId] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Discount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkShifts]    Script Date: 17.04.2026 11:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkShifts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([Id], [LaneId], [ClientId], [Status], [StartTime], [EndTime], [PlayersCount], [Comment], [CreatedAt]) VALUES (1, 1, 1, 1, CAST(N'2026-04-17T11:21:35.500' AS DateTime), CAST(N'2026-04-17T13:21:35.500' AS DateTime), 4, N'День рождения друга, нужна дорожка у стены', CAST(N'2026-04-17T10:21:35.500' AS DateTime))
INSERT [dbo].[Bookings] ([Id], [LaneId], [ClientId], [Status], [StartTime], [EndTime], [PlayersCount], [Comment], [CreatedAt]) VALUES (2, 2, 2, 1, CAST(N'2026-04-17T15:21:35.500' AS DateTime), CAST(N'2026-04-17T17:21:35.500' AS DateTime), 2, N'Свидание :)', CAST(N'2026-04-17T10:21:35.500' AS DateTime))
INSERT [dbo].[Bookings] ([Id], [LaneId], [ClientId], [Status], [StartTime], [EndTime], [PlayersCount], [Comment], [CreatedAt]) VALUES (3, 3, 4, 3, CAST(N'2026-04-16T10:21:35.500' AS DateTime), CAST(N'2026-04-16T12:21:35.500' AS DateTime), 5, N'Корпоратив', CAST(N'2026-04-15T10:21:35.500' AS DateTime))
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [LastName], [FirstName], [MiddleName], [PositionId], [Phone], [Login], [Password], [RoleId], [HireDate]) VALUES (1, N'Смирнова', N'Елена', N'Викторовна', 2, N'+79161234571', N'smirnova_e', N'manager123', 3, CAST(N'2023-01-15' AS Date))
INSERT [dbo].[Employees] ([Id], [LastName], [FirstName], [MiddleName], [PositionId], [Phone], [Login], [Password], [RoleId], [HireDate]) VALUES (2, N'Козлов', N'Максим', N'Андреевич', 1, N'+79161234570', N'kozlov_m', N'admin123', 4, CAST(N'2022-05-10' AS Date))
INSERT [dbo].[Employees] ([Id], [LastName], [FirstName], [MiddleName], [PositionId], [Phone], [Login], [Password], [RoleId], [HireDate]) VALUES (3, N'Васильев', N'Андрей', N'Игоревич', 3, N'+79161234572', N'vasiliev_a', N'operator', 3, CAST(N'2024-01-01' AS Date))
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Lanes] ON 

INSERT [dbo].[Lanes] ([Id], [LaneNumber], [Status], [Capacity], [HourlyRate]) VALUES (1, N'Дорожка №1', 1, 6, CAST(1500.00 AS Decimal(10, 2)))
INSERT [dbo].[Lanes] ([Id], [LaneNumber], [Status], [Capacity], [HourlyRate]) VALUES (2, N'Дорожка №2', 1, 6, CAST(1500.00 AS Decimal(10, 2)))
INSERT [dbo].[Lanes] ([Id], [LaneNumber], [Status], [Capacity], [HourlyRate]) VALUES (3, N'Дорожка №3', 2, 6, CAST(1500.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Lanes] OFF
GO
SET IDENTITY_INSERT [dbo].[Manufacturers] ON 

INSERT [dbo].[Manufacturers] ([Id], [Name], [Country]) VALUES (1, N'Кока-Кола ЭйчБиСи Евразия', N'Россия')
INSERT [dbo].[Manufacturers] ([Id], [Name], [Country]) VALUES (2, N'Пивоваренная компания "Балтика"', N'Россия')
INSERT [dbo].[Manufacturers] ([Id], [Name], [Country]) VALUES (3, N'ООО "Фрито Лей Мануфактуринг"', N'Россия')
SET IDENTITY_INSERT [dbo].[Manufacturers] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice]) VALUES (1, 1, 1, 2, CAST(225.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice]) VALUES (2, 1, 3, 1, CAST(171.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice]) VALUES (3, 1, 7, 2, CAST(1200.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [OrderNumber], [Status], [ClientId], [DeliveryMethod], [PaymentMethod], [CreatedAt], [CompletedAt], [TotalAmount]) VALUES (1, N'ЗАК-2024-0001', 4, 1, 1, 1, CAST(N'2026-04-16T10:21:35.500' AS DateTime), CAST(N'2026-04-16T10:21:35.500' AS DateTime), CAST(3021.00 AS Decimal(10, 2)))
INSERT [dbo].[Orders] ([Id], [OrderNumber], [Status], [ClientId], [DeliveryMethod], [PaymentMethod], [CreatedAt], [CompletedAt], [TotalAmount]) VALUES (2, N'ЗАК-2024-0002', 2, 2, 1, 2, CAST(N'2026-04-17T10:21:35.503' AS DateTime), NULL, CAST(1050.00 AS Decimal(10, 2)))
INSERT [dbo].[Orders] ([Id], [OrderNumber], [Status], [ClientId], [DeliveryMethod], [PaymentMethod], [CreatedAt], [CompletedAt], [TotalAmount]) VALUES (3, N'ЗАК-2024-0003', 4, 4, 1, 3, CAST(N'2026-04-15T10:21:35.503' AS DateTime), NULL, CAST(5140.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Positions] ON 

INSERT [dbo].[Positions] ([Id], [Name], [BaseSalary]) VALUES (1, N'Управляющий клубом', CAST(80000.00 AS Decimal(10, 2)))
INSERT [dbo].[Positions] ([Id], [Name], [BaseSalary]) VALUES (2, N'Менеджер смены', CAST(55000.00 AS Decimal(10, 2)))
INSERT [dbo].[Positions] ([Id], [Name], [BaseSalary]) VALUES (3, N'Оператор дорожек', CAST(42000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Positions] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductComments] ON 

INSERT [dbo].[ProductComments] ([Id], [ProductId], [UserId], [CommentText], [CreatedAt]) VALUES (1, 1, 1, N'Отличное пиво! К боулингу самое то. Рекомендую.', CAST(N'2026-04-17T10:21:35.500' AS DateTime))
INSERT [dbo].[ProductComments] ([Id], [ProductId], [UserId], [CommentText], [CreatedAt]) VALUES (2, 1, 2, N'Цена приятно удивила. Холодное, свежее.', CAST(N'2026-04-17T10:21:35.500' AS DateTime))
INSERT [dbo].[ProductComments] ([Id], [ProductId], [UserId], [CommentText], [CreatedAt]) VALUES (3, 7, 1, N'Дорожки начищены, шар катится идеально. Персонал вежливый.', CAST(N'2026-04-17T10:21:35.500' AS DateTime))
SET IDENTITY_INSERT [dbo].[ProductComments] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Article], [ImageUrl], [UnitOfMeasure], [OldPrice], [DiscountPercent], [Price], [StockQuantity], [AvailabilityStatus], [Description], [IsVisible], [CreatedAt], [SupplierId], [ManufacturerId]) VALUES (1, N'Пиво "Жигулёвское" светлое 0,5 л', N'ПИВО-001', N'/images/zhiguli.jpg', N'бутылка', CAST(250.00 AS Decimal(10, 2)), 10, CAST(225.00 AS Decimal(10, 2)), 48, 1, N'Классическое светлое пиво. Объём 0,5 литра. Стеклянная бутылка.', 1, CAST(N'2026-04-17T10:21:35.500' AS DateTime), 2, 5)
INSERT [dbo].[Products] ([Id], [Name], [Article], [ImageUrl], [UnitOfMeasure], [OldPrice], [DiscountPercent], [Price], [StockQuantity], [AvailabilityStatus], [Description], [IsVisible], [CreatedAt], [SupplierId], [ManufacturerId]) VALUES (2, N'Пиво "Балтика 7" экспортное 0,5 л', N'ПИВО-002', N'/images/baltika7.jpg', N'бутылка', CAST(280.00 AS Decimal(10, 2)), 0, CAST(280.00 AS Decimal(10, 2)), 32, 1, N'Светлое пиво премиум-класса. Плотное, с насыщенным вкусом.', 1, CAST(N'2026-04-17T10:21:35.500' AS DateTime), 2, 2)
INSERT [dbo].[Products] ([Id], [Name], [Article], [ImageUrl], [UnitOfMeasure], [OldPrice], [DiscountPercent], [Price], [StockQuantity], [AvailabilityStatus], [Description], [IsVisible], [CreatedAt], [SupplierId], [ManufacturerId]) VALUES (3, N'Чипсы картофельные "Лейс" сметана/лук 150 г', N'ЧИП-001', N'/images/lays_sourcream.jpg', N'упаковка', CAST(180.00 AS Decimal(10, 2)), 5, CAST(171.00 AS Decimal(10, 2)), 25, 1, N'Хрустящие картофельные чипсы со вкусом сметаны и лука.', 1, CAST(N'2026-04-17T10:21:35.500' AS DateTime), 4, 3)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
INSERT [dbo].[ProductTagMapping] ([ProductId], [TagId]) VALUES (1, 1)
INSERT [dbo].[ProductTagMapping] ([ProductId], [TagId]) VALUES (1, 3)
INSERT [dbo].[ProductTagMapping] ([ProductId], [TagId]) VALUES (1, 4)
GO
SET IDENTITY_INSERT [dbo].[ProductTags] ON 

INSERT [dbo].[ProductTags] ([Id], [Name]) VALUES (10, N'Аксессуары')
INSERT [dbo].[ProductTags] ([Id], [Name]) VALUES (3, N'Акция')
INSERT [dbo].[ProductTags] ([Id], [Name]) VALUES (4, N'Алкоголь')
SET IDENTITY_INSERT [dbo].[ProductTags] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name]) VALUES (4, N'Администратор')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (5, N'Администратор сайта')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (1, N'Гость')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([Id], [Name], [ContactInfo]) VALUES (1, N'ООО "Торговый Дом Продсервис"', N'г. Москва, ул. Складская, д. 12, тел. +7(495)123-45-67')
INSERT [dbo].[Suppliers] ([Id], [Name], [ContactInfo]) VALUES (2, N'ИП Громов А.В. "Мир Напитков"', N'г. Москва, ул. Промышленная, д. 5, стр. 2, gromov@drinks.ru')
INSERT [dbo].[Suppliers] ([Id], [Name], [ContactInfo]) VALUES (3, N'ООО "Боулинг Профи"', N'г. Санкт-Петербург, пр. Обуховской Обороны, д. 70, sale@bowlingpro.ru')
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([Id], [OrderId], [Amount], [PaymentMethod], [Status], [CreatedAt]) VALUES (1, 1, CAST(2865.00 AS Decimal(10, 2)), 1, 1, CAST(N'2026-04-16T10:21:35.503' AS DateTime))
INSERT [dbo].[Transactions] ([Id], [OrderId], [Amount], [PaymentMethod], [Status], [CreatedAt]) VALUES (2, 3, CAST(5140.00 AS Decimal(10, 2)), 3, 1, CAST(N'2026-04-15T10:21:35.503' AS DateTime))
INSERT [dbo].[Transactions] ([Id], [OrderId], [Amount], [PaymentMethod], [Status], [CreatedAt]) VALUES (3, 4, CAST(1640.00 AS Decimal(10, 2)), 1, 1, CAST(N'2026-04-14T10:21:35.503' AS DateTime))
SET IDENTITY_INSERT [dbo].[Transactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [LastName], [FirstName], [MiddleName], [Phone], [Email], [Password], [CreatedAt], [RoleId], [Status], [Discount]) VALUES (1, N'Иванов', N'Иван', N'Иванович', N'+79161234567', N'ivanov@mail.ru', N'123456', CAST(N'2026-04-17T10:21:35.500' AS DateTime), 2, 1, 5)
INSERT [dbo].[Users] ([Id], [LastName], [FirstName], [MiddleName], [Phone], [Email], [Password], [CreatedAt], [RoleId], [Status], [Discount]) VALUES (2, N'Петрова', N'Анна', N'Сергеевна', N'+79161234568', N'petrova@mail.ru', N'qwerty', CAST(N'2026-04-17T10:21:35.500' AS DateTime), 2, 1, 10)
INSERT [dbo].[Users] ([Id], [LastName], [FirstName], [MiddleName], [Phone], [Email], [Password], [CreatedAt], [RoleId], [Status], [Discount]) VALUES (3, N'Сидоров', N'Олег', N'Петрович', N'+79161234569', N'sidorov@mail.ru', N'password', CAST(N'2026-04-17T10:21:35.500' AS DateTime), 2, 0, 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkShifts] ON 

INSERT [dbo].[WorkShifts] ([Id], [EmployeeId], [StartTime], [EndTime]) VALUES (1, 1, CAST(N'2026-04-17T08:21:35.503' AS DateTime), CAST(N'2026-04-17T20:21:35.503' AS DateTime))
INSERT [dbo].[WorkShifts] ([Id], [EmployeeId], [StartTime], [EndTime]) VALUES (2, 3, CAST(N'2026-04-17T08:21:35.503' AS DateTime), CAST(N'2026-04-17T20:21:35.503' AS DateTime))
INSERT [dbo].[WorkShifts] ([Id], [EmployeeId], [StartTime], [EndTime]) VALUES (3, 4, CAST(N'2026-04-17T08:21:35.503' AS DateTime), CAST(N'2026-04-17T20:21:35.503' AS DateTime))
SET IDENTITY_INSERT [dbo].[WorkShifts] OFF
GO
/****** Object:  Index [IX_Bookings_TimeRange]    Script Date: 17.04.2026 11:18:51 ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_TimeRange] ON [dbo].[Bookings]
(
	[LaneId] ASC,
	[StartTime] ASC,
	[EndTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__5C7E359EB8DB5FFB]    Script Date: 17.04.2026 11:18:51 ******/
ALTER TABLE [dbo].[Employees] ADD UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__5E55825B8987A065]    Script Date: 17.04.2026 11:18:51 ******/
ALTER TABLE [dbo].[Employees] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Lanes__6F288C4894B0A021]    Script Date: 17.04.2026 11:18:51 ******/
ALTER TABLE [dbo].[Lanes] ADD UNIQUE NONCLUSTERED 
(
	[LaneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItems_ProductId]    Script Date: 17.04.2026 11:18:51 ******/
CREATE NONCLUSTERED INDEX [IX_OrderItems_ProductId] ON [dbo].[OrderItems]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Orders__CAC5E7439085A166]    Script Date: 17.04.2026 11:18:51 ******/
ALTER TABLE [dbo].[Orders] ADD UNIQUE NONCLUSTERED 
(
	[OrderNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_ClientId]    Script Date: 17.04.2026 11:18:51 ******/
CREATE NONCLUSTERED INDEX [IX_Orders_ClientId] ON [dbo].[Orders]
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_Status]    Script Date: 17.04.2026 11:18:51 ******/
CREATE NONCLUSTERED INDEX [IX_Orders_Status] ON [dbo].[Orders]
(
	[Status] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Position__737584F61A64EE55]    Script Date: 17.04.2026 11:18:51 ******/
ALTER TABLE [dbo].[Positions] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Products__4943444AE811316E]    Script Date: 17.04.2026 11:18:51 ******/
ALTER TABLE [dbo].[Products] ADD UNIQUE NONCLUSTERED 
(
	[Article] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Products_Article]    Script Date: 17.04.2026 11:18:51 ******/
CREATE NONCLUSTERED INDEX [IX_Products_Article] ON [dbo].[Products]
(
	[Article] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_Availability]    Script Date: 17.04.2026 11:18:51 ******/
CREATE NONCLUSTERED INDEX [IX_Products_Availability] ON [dbo].[Products]
(
	[AvailabilityStatus] ASC,
	[IsVisible] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ProductT__737584F69A93565D]    Script Date: 17.04.2026 11:18:51 ******/
ALTER TABLE [dbo].[ProductTags] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__737584F6C0D86CBC]    Script Date: 17.04.2026 11:18:51 ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__5C7E359E77CD2E25]    Script Date: 17.04.2026 11:18:51 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D1053467D659FF]    Script Date: 17.04.2026 11:18:51 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 17.04.2026 11:18:51 ******/
CREATE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Phone]    Script Date: 17.04.2026 11:18:51 ******/
CREATE NONCLUSTERED INDEX [IX_Users_Phone] ON [dbo].[Users]
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((1)) FOR [PlayersCount]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Lanes] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Lanes] ADD  DEFAULT ((6)) FOR [Capacity]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((1)) FOR [DeliveryMethod]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((1)) FOR [PaymentMethod]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[ProductComments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (N'шт.') FOR [UnitOfMeasure]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [DiscountPercent]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [StockQuantity]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [AvailabilityStatus]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [IsVisible]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([ClientId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([LaneId])
REFERENCES [dbo].[Lanes] ([Id])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([PositionId])
REFERENCES [dbo].[Positions] ([Id])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([ClientId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ProductComments]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ProductComments]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([ManufacturerId])
REFERENCES [dbo].[Manufacturers] ([Id])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([Id])
GO
ALTER TABLE [dbo].[ProductTagMapping]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductTagMapping]  WITH CHECK ADD FOREIGN KEY([TagId])
REFERENCES [dbo].[ProductTags] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[WorkShifts]  WITH CHECK ADD FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Discount]>=(0) AND [Discount]<=(100)))
GO
USE [master]
GO
